{% extends "layout.html" %}
{% block content %}

	<div class="processing-overlay">
		<h3>Processing, please wait</h3>

	</div>
	<section>
		<h3>Welcome to Entertainment Crossing!</h3>
		<p>
			 Use this site to find the career overlap of two entertainers, according to their imdb pages.
	</section>
	<form id="enter-tainers">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Enter the Entertainers</legend>
			<div class="form-group">
				{{ form.entertainer1.label(class="form-control-label") }}

				{% if form.entertainer1.errors %}
					<div class="invalid-feedback is-invalid">
						{% for error in form.entertainer1.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>

				{% else %}
					{{ form.entertainer1(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.entertainer2.label(class="form-control-label") }}
				{% if form.entertainer2.errors %}
					<div class="invalid-feedback is-invalid">
						{% for error in form.entertainer2.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>

				{% else %}
					{{ form.entertainer2(class="form-control form-control-lg") }}
				{% endif %}
			</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>

	<div id="results-section" class="results-section card bg-light text-dark">
		
		<div class="card-body text-center">
			<h3 id="results-insert-hook">Results</h3>
			<ul id="results" class="row"></ul>
		</div>
	</div>

	<footer class="footer mt-auto py-3">
	  <div class="container">
	    <span class="text-muted">Currently this site uses python's Beautiful Soup to pull each entertainer's entire imdb filmography to compare. Because of this, it cannot differentiate on certain items like 'Episode 2', etc. It also can't tell whether two entertainers worked on a project <em>simultaneously</em>. If you would like to add this functionality, please submit a pull request to the code <a href="https://github.com/lschachter/entertainmentCrossing">HERE</a>.</span>
	  </div>
	</footer>

{% endblock content %}