{% extends "layout.html" %}
{% block content %}

	<div class="processing-overlay text-center align-middle">
		<h3 class="processing-text">Processing, please wait</h3>
		<progress value="0" max="10" id="progress-bar"></progress>
	</div>

	<section>
		<h3>Welcome to Entertainment Crossing!</h3>
		<p>
			 Find the career overlap of two entertainers, according to their IMDb pages.
		</p>
	</section>
	<form id="enter-tainers" onsubmit="return show_overlay()">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Enter the Entertainers</legend>
			{% for entertainer_form in form.entertainers %}
				{{ entertainer_form.entertainer.label(class="form-control-label") }}
				{% if entertainer_form.errors %}
                    <div class="invalid-feedback is-invalid">
                        {% for error in entertainer_form.errors %}
                           <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ entertainer_form.entertainer(class="form-control form-control-lg") }}
                {% endif %}
			{% endfor %}
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>

	<div id="results-section" class="results-section card bg-light text-dark">
		<div class="card-body">
			<h3>Results</h3>
			<h6 id="entertainer-links"></h6>
			<ul id="results" class="row no-gutters"></ul>
		</div>
	</div>

	<footer class="footer mt-auto py-3">
	  <div class="container">
	    <span class="text-muted">Wish this page was faster, that you could compare more than 2 filmographies, or see if people worked on a project at the same <em>time</em>? If you would like to add this or other functionality, please submit a pull request to the code <a target="_blank" href="https://github.com/lschachter/entertainmentCrossing">HERE</a>!</span>
	  </div>
	</footer>

{% endblock content %}