{% extends "layout.html" %}
{% block content %}

	<div class="processing-overlay text-center align-middle">
		<h3 class="processing-text">Processing, please wait</h3>
		<progress value="0" max="10" id="progress-bar"></progress>
	</div>

	<section>
		<h3>Welcome to Entertainment Crossing!</h3>
		<p>
			 Find the career overlap of two entertainers, according to their IMDb pages.
	</section>
	<form id="enter-tainers" onsubmit="return show_overlay()">
		{{ form.hidden_tag() }}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Enter the Entertainers</legend>
			<div class="form-group">
				{{ form.entertainer1.label(class="form-control-label") }}

				{% if form.entertainer1.errors %}
					<div class="invalid-feedback is-invalid">
						{% for error in form.entertainer1.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>

				{% else %}
					{{ form.entertainer1(class="form-control form-control-lg") }}
				{% endif %}
			</div>
			<div class="form-group">
				{{ form.entertainer2.label(class="form-control-label") }}
				{% if form.entertainer2.errors %}
					<div class="invalid-feedback is-invalid">
						{% for error in form.entertainer2.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>

				{% else %}
					{{ form.entertainer2(class="form-control form-control-lg") }}
				{% endif %}
			</div>
		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}
		</div>
	</form>

	<div id="results-section" class="results-section card bg-light text-dark">
		
		<div class="card-body">
			<h3 id="results-insert-hook">Results</h3>
			<h6 id="entertainer-links"></h6>
			<ul id="results" class="row no-gutters"></ul>
		</div>
	</div>

	<footer class="footer mt-auto py-3">
	  <div class="container">
	    <span class="text-muted">Wish this page was faster, or that you could compare more than 2 filmographies or see if people worked on a project a the same <em>time</em>? If you would like to add this or other functionality, please submit a pull request to the code <a target="_blank" href="https://github.com/lschachter/entertainmentCrossing">HERE</a>!</span>
	  </div>
	</footer>

{% endblock content %}